{% extends 'base.html' %}

{% block title %}Favorites{% endblock %}

{% block content %}


<!-- DISPLAY MAIN AREA -->
<div class="container">
  {% if g.user.recipes %}
  <!-- DISPLAY RECIPE CARDS -->

  <div id="recipe-display" class="row justify-content-center align-items-center mt-2">
    {% for r in g.user.recipes %}

    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 my-2">
      <div class="card border mb-2 mx-auto p-1">
        <img src="{{r.image}}" class="card-img-top" alt="{{r.title}}">
        <div class="card-body">
          <!-- Check is name has a "+", display name before "+" -->
          {% set name = r.title.split('+') %}
          <h3 class="card-title my-2">{{name[0]}}</h3>

          <div class="card-body 2">
            <p class="card-text mb-0">Prep Time: {{r.readyInMinutes}} minutes</p>
            <p class="card-text">Serves: {{r.servings}}</p>

            <!-- show link to original webpage -->
            <a href="{{r.sourceUrl}}" target="_blank" class="card-text mb-1 d-block text-center"><small
                class="text-muted">{{r.sourceName}}</small></a>
            <!-- end showlink -->

          </div>
          <div class="details">
            <a href="/recipes/{{r.id}}" data-id="{{r.id}}" class="btn btn-info">Show Recipe</a>

            <!-- FAVORITES ICON -->

            <button style="float: right;" data-id="{{r.id}}" class='fav btn btn-sm'><i
                class="{% if r.id in recipe_ids %}fas fa-heart fa-2x{% else %}far fa-heart fa-2x{% endif %}"></i></button>
          </div>
          <!-- END FAVORITES -->

        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- IF USER HAS NO FAVORITE RECIPES -->

  {% else %}

  <div class="jumbotron my-4">
    <div class="container">
      <h1 class="display-4">Sorry, you do not have any saved recipes!</h1>
      <a href="/" class="btn btn-info btn-lg">Back</a>
    </div>
  </div>

  {% endif %}

</div>

{% endblock %}