{% extends 'base.html' %}

{% block title %}Random Recipes{% endblock %}

{% block content %}


<!-- DIET TYPE AREA -->
<div class="wrapper">
  <div class="diets">
    {% for d in g.diet_icons %}
    <div class="diet">
      <a class="diet-link" href="/recipes/{{d.name}}">
        <img class='diet-img' src="{{d.image}}" alt="{{d.name}}">
        <div class="txt">{{d.name}}</div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<!-- END HORIZONTAL SCROLL -->

<!-- DISPLAY MAIN AREA -->
<div class="container">

  {% if recipes %}
  <!-- DISPLAY RECIPE CARDS -->
  <div id="recipe-display" class="row justify-content-center align-items-center mt-2">

    {% for r in recipes %}

    <div class="col-xs-12 col-sm-10 col-md-6 col-lg-5 col-xl-4 my-2">
      <a href="/recipes/{{r.id}}" data-id="{{r.id}}" class="show-recipe">
        <div class="card border mb-4 mx-auto p-1">
          <img src="{{r.image}}" class="card-img-top" alt="{{r.title}}">
          <div class="card-body py-1">
            <!-- Check is name has a "+", display name before "+" -->
            {% set name = r.title.split('+') %}
            <h3 class="card-title my-2">{{name[0]}}</h3>

            <div class="card-body">
              <p class="card-text my-0">Prep Time: {{r.readyInMinutes}} minutes</p>
              <p class="card-text my-0">Serves: {{r.servings}}</p>

              <!-- show link to original webpage -->
              <a href="{{r.sourceUrl}}" target="_blank" class="card-text mb-1 d-block text-center"><small
                  class="text-muted">{{r.sourceName}}</small></a>
              <!-- end showlink -->

            </div>

            <!-- FAVORITES ICON -->
            {% if g.user %}
            <button data-id="{{r.id}}" class='fav btn btn-sm'><i
                class="{% if r.id in recipe_ids %}fas fa-heart fa-2x{% else %}far fa-heart fa-2x{% endif %}"></i></button>
            {% else %}
            <a tabindex="0" class='fav btn btn-sm pop' role="button" data-toggle="popover" data-trigger="focus"
              data-placement="bottom" data-content="Please login to favorite a recipe"><i
                class="far fa-heart fa-2x"></i></a>
            {% endif %}


            <!-- END FAVORITES -->
          </div>
        </div>

      </a>
    </div>


    {% endfor %}

    {% else %}

    <div class="jumbotron my-4">
      <div class="container">
        <h1 class="display-4">RECIPE NOT FOUND!</h1>
        <a href="/" class="btn btn-info btn-lg">Back</a>
      </div>
    </div>

    {% endif %}
  </div>


</div>


{% endblock %}