*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

/* ########## MAIN BACKGROUND IMAGE ########## */

html,
body {
	height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/* ############## BACKGROUNG IMAGE ################ */

body {
	background: url('/static/images/background.jpg') no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #d0a27e;
	background-clip: border-box;
	height: 100%;
}

/* remove fixed scrolling for mobile devices */
@media (max-width: 768px) {
	body {
		background-repeat: repeat;
		background-attachment: local;
		background-position: left;
	}
}

/* =============================================== */

#print {
	color: rgb(1, 102, 102);
	font-size: 1.2em;
}

.box {
	flex-grow: 1;
}

.jumbotron {
	opacity: 0.93;
	background-color: #dbd2d2;
}
/* ############## USER DETAILS ############# */

.profile-pic {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

/* ############### HOME PAGE ################# */

#logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 0;
}

/* ################### NAVBAR ################ */

.logo {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	/* margin: 0.25rem; */
	padding: 0.25rem;
}

/* ========== NAVBAR HAMBURGER MENU =========*/

.icon-bar {
	width: 22px;
	height: 2px;
	background-color: #b6b6b6;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
}

.icon-bar:first-of-type {
	margin-top: 0;
}

.navbar-toggler {
	border: none;
	background: transparent !important;
}

/* ================= ANIMATION =============== */

.navbar-toggler .top-bar {
	transform: rotate(45deg);
	transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
	opacity: 0;
}

.navbar-toggler .bottom-bar {
	transform: rotate(-45deg);
	transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
	transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
	opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
	transform: rotate(0);
}

/* ############ DIET TYPES ############# */

.wrapper {
	background-color: #d3d3d3;
	padding: 0.2em;
	margin: auto;
	text-align: center;
	position: relative;
	width: 100%;
}

/* Horizontal scrolling */
.diets {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.diet {
	width: 135px;
	margin: 0 1.5em;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	*display: inline; /* For IE7*/
	*zoom: 1; /* For IE7*/
	vertical-align: top;
}

.diet + .diet {
	margin-left: 2em;
}

.diet-img {
	width: 90px;
	height: 90px;
	margin: 0.5em auto;
	background-color: #d3d3d3;
	border-radius: 50%;
	background-size: cover;
	background-position: center center;
	/* BOX SHADOW */
	-webkit-box-shadow: 4px 4px 6px 0px rgba(112, 110, 112, 0.5);
	-moz-box-shadow: 4px 4px 6px 0px rgba(112, 110, 112, 0.5);
	box-shadow: 4px 4px 6px 0px rgba(112, 110, 112, 0.5);
}

.diet-link {
	text-decoration: none;
	color: #272c31;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 0.8em;
	transition: all 200ms;
}

.diet-link:hover,
.diet-link:focus {
	opacity: 0.8;
}

.text {
	left: 50%;
	bottom: 10%;
	transform: translate(-50%, -50%);
}

/* ############## RECIPE DISPLAY ############# */

.card {
	max-width: 24rem;
	max-height: 100%;
}

.card-title {
	height: 3.5em;
}

.card-body {
	padding: 0.75rem;
}

.recipe-img {
	width: 100%;
	object-fit: cover;
}

.info-list {
	border: solid 1px rgb(170, 169, 169);
	border-radius: 5px;
	padding: 0.5em;
	margin: auto;
	width: 100%;
	height: 100%;
}

.recipe-subtitle {
	margin: 1em auto;
}

/* ############## CARD BOTTOM ############## */
.details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* ############## FAV ICONS ############## */

.fav {
	color: tomato;
}

.fav:hover,
.fav.active {
	color: tomato;
}

p {
	margin: 0.5rem;
}

/* ############### FOOTER ############## */

ul {
	list-style: none;
	margin: 0.5rem;
}

a {
	text-decoration: none !important;
	/* opacity: 0.6; */
	color: cadetblue;
}

a:hover,
a:active {
	opacity: 0.9;
	cursor: pointer;
	color: rgb(92, 102, 102);
}

.footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #272c31;
	color: #fff;
	padding: 1rem 0;
}

.footer ul {
	display: flex;
}

.footer ul li {
	margin-left: 16px;
}

.footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	.footer {
		flex-direction: column;
	}

	.footer p {
		text-align: center;
	}

	.footer ul li {
		margin: 0 8px;
	}
}
/* ################### */
