<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d240c4c1b9.js" crossorigin="anonymous"></script>
  <!-- <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <title>{% block title %}
    <!--CAPSTONE ONE-->{% endblock %}</title>
</head>

<body>
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Foodie</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <!-- ADD ACTION FOR RECIPE SEARCH (Removed Action = /search) -->
      <form class="navbar-form col-md-6 col-sm-8 mx-auto my-2" id="search" action="/search" role="search">
        <div class="input-group">

          <!-- SPLITTER IN SEARCH BAR -->
          <select class="custom-select" name="diet" id="diet">
            <option selected> <span class="text-muted">Diets</span> </option>
            {% for diet in g.diets %}
            <option value="{{diet}}">{{ diet.capitalize() }}</option>
            {% endfor %}
          </select>

          <!-- SPLITTER IN SEARCH BAR -->
          <select class="custom-select" name="cuisine" id="cuisine" data-container="body">
            <option selected> <span class="text-muted">Cuisines</span> </option>
            {% for cuisine in g.cuisines %}
            <option value="{{cuisine}}">{{ cuisine.capitalize() }}</option>
            {% endfor %}
          </select>

          <!-- BUTTON -->
          <input data-id="{{g.user.id}}" type="text" class="form-control" placeholder="Search" name="query" id="query">
          <div class="input-group-btn input-group-append">
            <button data-id="{{g.user.id}}" class="btn btn-outline-info" type="submit"><i
                class="fas fa-search"></i></button>
          </div>
        </div>
      </form>


      <ul class="navbar-nav ml-auto">
        {% if session["user_id"] %}
        <li class="nav-item">
          <div class="row mx-1">
            <a href="/users/{{g.user.id}}"><img class="nav-pic mr-1" src="{{g.user.img_url}}" alt="profile-icon"></a>
            <a class="nav-link" href="/users/{{g.user.id}}">{{g.user.username}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/favorites">Favorites</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        {% endif %}
      </ul>

    </div>
  </nav>

  <!-- FLASH MESSAGING -->
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  <!-- <div class="container">

    <h1 class="title">FOODIE</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure necessitatibus iste repudiandae dicta?<a
        href="#">foodie</a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente, doloremque.</p>

  </div> -->
  {% endblock %}

  <!-- FOOTER -->
  <footer class="footer">
    <p>Images courtesy of <a href="#">Foodie</a>.</p>
    <p>Why are you even reading this?! There's never anything interesting in the footer!</p>
    <ul>
      <li><a href="#"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
    </ul>
  </footer>



  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>