<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/d240c4c1b9.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">

  <title>{% block title %}
    <!--CAPSTONE ONE-->{% endblock %}</title>
</head>

<body>
  <!-- NAVBAR -->
  <div class="box">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <a class="navbar-brand" href="/recipes"><img class="logo" src="/static/images/foodie.jpeg" alt="logo"></a>

      <!-- CUSTOM HAMBURGER MENU -->

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>

      <!-- CUSTROM HAMBURGER  -->


      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <!-- ADD ACTION FOR RECIPE SEARCH -->
        <form class="navbar-form col-sm-6 col-sm-8 mx-auto my-2" id="search" action="/search" role="search">
          <div class="input-group">

            <!-- SPLITTER IN SEARCH BAR -->
            <select class="custom-select" name="diet" id="diet">
              <option selected> <span class="text-muted">Diets</span> </option>
              {% for diet in g.diets %}
              <option value="{{diet}}">{{ diet.capitalize() }}</option>
              {% endfor %}
            </select>

            <!-- SPLITTER IN SEARCH BAR -->
            <select class="custom-select" name="cuisine" id="cuisine" data-container="body">
              <option selected> <span class="text-muted">Cuisines</span> </option>
              {% for cuisine in g.cuisines %}
              <option value="{{cuisine}}">{{ cuisine.capitalize() }}</option>
              {% endfor %}
            </select>

            <!-- BUTTON -->
            <input type="text" class="form-control" placeholder="Search" name="query" id="query">
            <div class="input-group-btn input-group-append">
              <button class="btn btn-outline-info" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>


        <ul class="navbar-nav align-items-center">
          {% if session["user_id"] %}
          <li class="nav-item">
            <a class="nav-link" href="/users/{{g.user.id}}">{{g.user.username}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/favorites">Favorites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          {% endif %}
        </ul>

      </div>
    </nav>

    <!-- FLASH MESSAGING -->
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}

    {% block content %}
    <!-- CONTENT GOES HERE -->
    {% endblock %}
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <p>Content & Information from <a href="https://spoonacular.com/food-api">Spoonacular API</a>.</p>
    <p>Springboard Capstone Project One - July 2020</p>
    <ul>
      <li><a href="www.linkedin.com/in/muhammad-qadir"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
      <li><a href="https://github.com/mahdimq/capstone-one"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </footer>



  <script src="https://unpkg.com/jquery"></script>
  <script src="https://unpkg.com/bootstrap"></script>
  <script src="https://unpkg.com/axios/dist/axios.js"></script>
  <script src="/static/helper.js"></script>
  <script src="/static/app.js"></script>
</body>

</html>