{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">

  <div class="jumbotron my-4 px-4">
    <h1 class="display-5 justify-content-center align-items-center"><img id="logo" src="/static/images/foodie.jpeg"
        alt="logo"> Foodie</h1>
    <p class="lead">Welcome to the foodie app. Click start to continue</p>
    <hr class="my-4">
    <p>Select a recipe by using the search bar, or select from any of the random recipes auto populated</p>
    <p>Recipes can also be selected by clicking on the diet badges for random recipes in those diets</p>
    <a class="btn btn-info btn-lg start-btn" href="/random" role="button">Start</a>
  </div>

</div>
{% endblock %}