{% extends 'base.html' %}

{% block title %}Update{% endblock %}

{% block content %}

<div class="container">
  <div class="jumbotron my-4 mx-4">
    <h1 class="my-3">Update your profile</h1>

    <form method='POST'>
      {{ form.hidden_tag() }}
      <div class="form-row">
        {% for field in form if field.widget.input_type != "hidden" %}
        <div class="form-group col-md-6">
          {{field.label (class_="h6")}}
          {{field (class_="form-control")}}
          {% for error in field.errors %}
          <div class="form-text text-danger">{{error}}</div>
          {% endfor %}
        </div>
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-lg btn-info">Update</button>
      <a class="btn btn-lg btn-warning" href="/users/{{user.id}}">Back</a>
    </form>
  </div>

</div>
{% endblock %}